/* header */

#header {

  .navbar {
    margin: 0px;
    height: 50px;
    width: 100vw;
    background-color: gray;

    > ul {
        list-style: none;
        /* text-align: left; */
        margin: 0;
        padding: 10px 30px;
    }

    > ul li {
        display: inline;
        margin-right: 15px;
        font-weight: 800;
    }

    > a {
        text-decoration: none;
        color: white;
    }
    > a:hover {
        text-decoration: underline;
    }
  }
}
/* body */

// .home_page {

//   .banner {
//     background: #5CB85C;
//     box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.3),
//                 inset  0 -8px 8px -8px rgba(0,0,0,0.3);
//     padding: 2rem;
//     margin-bottom: 2rem;

//     > p {
//       color: #fff;
//       text-align: center;
//       line-height: 2.5rem;
//       font-size:1.5rem;
//       font-weight:300 !important;
//       margin-bottom:0px;
//     }

//     > h1 {
//       text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
//       font-weight:700 !important;
//       text-align: center;
//       font-size:3.5rem;
//       padding-bottom:0.5rem;
//       margin-bottom: 0;
//     }

//     .container {
//         margin-left: auto;
//         margin-right: auto;
//         padding-left: 15px;
//         padding-right: 15px;
//         max-width: 720px;
//     }

//     /* .sidebar { */
//     /*   padding:5px 10px 10px 10px; */
//     /*   background:#f3f3f3; */
//     /*   border-radius: 4px; */
//     /* } */

//     /* .sidebar p { */
//     /*   margin-bottom:0.2rem; */
//     /* } */


//     .logo_font {
//       padding: 5px 5px;
//       color: #FFFFFF;
//       font-family: titillium web,sans-serif;
//     }

// }

// .logo {
//   animation: logo-spin infinite 20s linear;
//   height: 5vmin;
//   pointer-events: none;
//   padding: 10px 30px;
// }

// .icon {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .link {
//   color: #b318f0;
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

